*.class
*~
.classpath
.project

.gradle/
.idea/jtorctl.iml
.idea/libraries/jsocks.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
build.gradle
build/
gradle/
gradlew
gradlew.bat
local.properties
settings.gradle
src/main/resources/
src/test/
